
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Page Styles */

body {
  background-color: black;
  font-family: "clear_sans_thinregular", sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 960px;
  padding: 40px 0px;
  margin: 0 auto;
}



p {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
	line-height:normal;
}

p a {
	color: white;
}

h2 {
  color: white;
  font-size: 64px;
}

.name {
	text-align: right;
	width: 80%;
}


.graphicus {
	width: 50%;
	display: inline-block;
  /* margin-left: auto;
  margin-right: auto; */
}

.text-right {
	display: inline-block;
	vertical-align:top;
	margin-top: 14em;
	text-align: right;
}
