// --------------------------------------------------
// Layout index page
// --------------------------------------------------

main {
  @include grid-row;

  //other elements
  //@include grid-column;
}


.index {

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -70%);

  .center {
    margin: 0 auto;
  }

  a {
    color:black;
    text-decoration: underline;
  }

}

.index-left {
  padding: 20px;

  h1 {
    // margin-top: 50%;
    color: black;
    font-weight: 600;
    font-size: 60px;

    @media only screen and (max-width:640px) {
      margin-top: 20%;
    }
  }

}


.index-right {
  background-image: url("/assets/img/hero-image.jpg");
  // background-position: center;
  background-size:cover;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 100%;

  @media only screen and (max-width:640px) {
    display: block;
    top: 50%;
  }
}
