// --------------------------------------------------
// Layout index page
// --------------------------------------------------

main {
  @include grid-row;

  //other elements
  //@include grid-column;
}


.index-left {
  padding: 20px;

  h1 {
    margin-top: 50%;
    color: black;
    font-weight: 600;
    font-size: 60px;

    @media only screen and (max-width:640px) {
      margin-top: 20%;
    }
  }

}


.index-right {
  background-image: url("/assets/img/hero-image.jpg");
  // background-position: center;
  background-size:cover;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 100%;

  @media only screen and (max-width:640px) {
    display: block;
    top: 50%;
  }
}
